
/MP1/2.6.ParameterizedFragmentShader/nbproject/private/
/MP1/nbproject/private/
/ScottShirleyMP2/nbproject/private/
/ScottShirleyMP2_1/nbproject/private/
/4.6.AudioSupport/nbproject/private/
/ScottShirleyMP3/nbproject/private/
